<div class="container">
    <div class="foto-de-perfil">
        <img src="./assets/FotoDePerfil.jpg">
    </div>
    <h3>Tomás Dominguez</h3>
    <h4>Full Stack Developer Jr.</h4>
    <div class="sobre-mi">
        <p>
            Me llamo Tomás Dominguez, tengo 21 años y estoy cursando #YoProgramo para convertirme en un desarrollador full stack 
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
            adadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaqadadaaaaaaaaaaaaaaaaaaaaaaaaafawaddaq
        </p>
        <div class="hobbies">
            <h5>Hobbies</h5>
            <ul>
                <li>
                    Astronomía
                </li>
                <li>
                    Fútbol
                </li>
                <li>
                    Leer
                </li>
                <li>
                    Ajedrez
                </li>
                <li>
                    Twitch
                </li>
            </ul>
        </div>
    </div>
</div>
