.foto-de-perfil img{
    width: 20%;
    border: solid var(--color-principal);
    border-radius: 100%;
}

.foto-de-perfil{
    text-align: center;
}

.nombre-y-profesion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h5{
    text-align: center;
    background: var(--color-fondo);
    font-weight: 120;
    padding: 5px;
    display: inline-block;
}

h2{
    font-size: 1.7rem;
}
h5{
    font-size: .8rem;
}

.sobre-mi{
    /* display: flex; */
    background: var(--color-fondo);
    border: solid 1px var(--color-principal);
    padding: 10px;
}

.sobre-mi-texto{
    width: 90%;
    font-size: 1.3em;
}

.hobbies{
    border: solid 1px var(--color-principal);
    padding: 10px;
    height: 20%;
    color: white;
}