<div id="acerca-de-mi" class="container">
    <div class="foto-de-perfil">
        <img src="./assets/FotoDePerfil.jpg">
    </div>
    <div class="nombre-y-profesion mt-1 mb-2">
        <h2>Tomás Dominguez</h2>
        <h5>Full Stack Developer Jr.</h5>
    </div>
    <div class="sobre-mi row">
        <div class="sobre-mi-texto col">
            <p>
                Me llamo Tomás Dominguez, tengo 21 años y estoy cursando #YoProgramo para convertirme en un desarrollador web full stack.<br>
                Actualmente estoy estudiando Licenciatura en Física, la programacion es algo que tengo como hobbie y me gusta bastante aprender y conocer cosas nuevas de este mundo.<br>
                Siento que la progamacion es una habilidad útil y sobre todo muy interesante.
            </p>
        </div>
        <div class="hobbies col-sm-auto">
            <b>Hobbies</b>
            <ul>
                <li>
                    Astronomía
                </li>
                <li>
                    Fútbol
                </li>
                <li>
                    Leer
                </li>
                <li>
                    Ajedrez
                </li>
                <li>
                    Gimnasio
                </li>
            </ul>
        </div>
    </div>
</div>
