<div id="mis-habilidades" class="container">
    <div class="titulo-seccion"><h1>Mis habilidades</h1></div>
    <div id="habilidades" >
        <div 
            class="habilidad"
            *ngFor = "let habilidad of habilidades"
        >
            <div class="imagen">
                <img
                    #imagen
                    src="../../../assets/estrella.png"
                    alt="estrella que indica el nivel de la habilidad"
                >
            </div>
            <div class="descripcion">
                <h3>{{habilidad.nombre}} ({{habilidad.nivel}})</h3>
            </div>
        </div>
    </div>
</div>
