.apartado{
    display: flex;
    border: solid var(--color-principal) ;
    background: var(--color-fondo);
    margin: 0 100px;
}

.instituto{
    flex-basis: 150px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
}

.instituto figure{
    margin: 0;
    width: 100%;
    height: 100%;
}

.instituto img{
    width: 100%;
}

.instituto figure h4{
    text-align: center;
    width: 150px;
}