.proyectos{
    border: solid var(--color-principal);
    box-shadow: -10px 10px 5px var(--color-principal);
    /* margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px; */
    background: var(--color-fondo);
}

.descripcion{
    padding-left: 10px;
    padding-right: 10px;
}

.descripcion h2{
    text-align: center;
}

.descripcion h4{
    text-align: center;
}

.links{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link{
    position: relative; /* esto es para que funcione la clase stretched-link de bootstrap*/
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid var(--color-principal);
    box-shadow: -5px 5px 5px var(--color-principal);
    display: flex;
}

.link:hover{
    background: linear-gradient(to right,rgb(74, 153, 255),rgb(255, 145, 0));
    /* text-decoration: underline; */
}

.link img{
    width: 35px;
    height: 35px;
    margin: auto auto auto auto;
}

.link h4{
    margin: auto auto auto auto;
    font-size: 1em;
}

.link a{
    text-decoration: none;
    color: var(--color-principal);
}

/* .link a:hover{
    text-decoration: underline;
} */

#proy-nombre{
    font-size: 1.7rem;
}
#proy-fecha{
    font-size: 1rem;
    color: white;
}
#proy-descripcion{
    font-size: .9rem;
}
