<div id="navegacion" class="container d-none d-md-block">
    <div class="navegacion-principal">
        <a href="#acerca-de-mi">
            <div class="nav-clickeable nav-acerca-de">
                <span class="nav-clickeable-titulo"> Acerca de mi </span>
            </div>
        </a>
        <a href="#mi-experiencia-laboral">
            <div class="nav-clickeable nav-laboral">
              <span class="nav-clickeable-titulo"> Experencias laborales </span>
            </div>
        </a>
        <a href="#mi-informacion-academica">
            <div class="nav-clickeable nav-educativo">
              <span class="nav-clickeable-titulo"> Educacion </span>
            </div>
        </a>
        <a href="#mis-habilidades">
            <div class="nav-clickeable nav-habilidades">
                <span class="nav-clickeable-titulo"> Habilidades </span>
            </div>
        </a>
        <a href="#mis-proyectos">
            <div class="nav-clickeable nav-proyectos">
              <span class="nav-clickeable-titulo"> Proyectos </span>
            </div>
        </a>
    </div>
</div>

<app-barra-de-navegacion></app-barra-de-navegacion>
