<div id="navegacion" class="container">
    <div class="navegacion-principal">
        <a href="#acerca-de-mi">
            <div class="nav-clickeable nav-acerca-de">
                <h4> Acerca de mi</h4>
            </div>
        </a>
        <a href="#mi-experiencia-laboral">
            <div class="nav-clickeable nav-laboral">
                <h4> Experiencias laborales </h4>
            </div>
        </a>
        <a href="#mi-informacion-academica">
            <div class="nav-clickeable nav-educativo">
                <h4> Educación </h4>
            </div>
        </a>
        <a href="#mis-habilidades">
            <div class="nav-clickeable nav-habilidades">
                <h4> Habilidades </h4>
            </div>
        </a>
        <a href="#mis-proyectos">
            <div class="nav-clickeable nav-proyectos">
                <h4> Proyectos </h4>
            </div>
        </a>
    </div>
</div>

<!-- este va afuera porque no puede estar dentro de un contenedor con overflow: hidden -->
<app-barra-de-navegacion></app-barra-de-navegacion>
