<div class="container">
    <div class="barra-superior">
        <div class="barra-superior-izquierda">
            <img src="./assets/logo.png" alt="logo" id="logo">
            <h3>#YoProgramo</h3>
        </div>
        <div class="barra-superior-derecha">
            <img src="./assets/twitter.png" alt="logo de twitter" class="logo-redes-sociales"> 
            <h5>@tomydominguezz</h5>
            <img src="./assets/Instagram.png" alt="logo de instagram" class="logo-redes-sociales"> 
            <h5>@tomydominguezz</h5>
            <button>Iniciar Sesión</button>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="banner">
        <img src="./assets/Fondo.jpg">
    </div>
</div>