<div class="container">
    <div class="barra-superior">
        <div class="barra-superior-izquierda">
            <img src="./assets/logo.png" alt="logo" id="logo">
            <h3><span id="titulo">#YoProgramo</span></h3>
        </div>
        <div class="barra-superior-derecha">
            <a href="https://twitter.com/tomydominguez30">
                <img src="./assets/twitter.png" alt="logo de twitter" class="logo-redes-sociales"> 
            </a>
            <a href="https://instagram.com/tomydominguezz">
                <img src="./assets/Instagram.png" alt="logo de instagram" class="logo-redes-sociales">
            </a>
            <a href="https://github.com/TomyD30">
                <img src="./assets/github.png" alt="logo de github" class="logo-redes-sociales">
            </a>
            <button>Iniciar Sesión</button>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="banner">
        <img src="./assets/Fondo.jpg">
    </div>
</div>