.barra-superior-izquierda{
    display: flex;
    /* float: left; */
    height: 60px;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 140px;
    height: 40px;
    padding-right: 10px;
    /* margin: -10px 5px -10px -10px; */
}

#titulo{
    color: white;
    display: block;
    white-space: nowrap;
    width: 12ch;
    border-right: 4px solid transparent;
    
    animation: typing 2s steps(12) , blink .5s 6 step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from{width: 0}
}

@keyframes blink{
    50%{border-color: white;}
}

.barra-superior-derecha{
    height: 60px;
    justify-content: center;
    /* float: right; */
    align-items: center;
    display: flex;
}

/* .barra-superior-derecha img{
    padding: 10px;
} */

.logo-redes-sociales{
    /* width: 28px; */
    width: 50%;
}

.logo-redes-sociales:hover{
    /* width: 38px; */
    width: 60%;
}

.barra-superior-derecha button{
    background-color: red;
    padding: 10px;
    margin: 10px;
}

/* .banner{
    margin: 10px;
    text-align: center;
}

.banner img{
    width: 80%;
} */

.barra-iniciar-sesion{
    text-align: end;
    height: 28px;
}

.barra-iniciar-sesion div{
    background: var(--color-fondo);
    height: 27px;
}

.barra-iniciar-sesion button{
    background-color: transparent;
    /* border: none; */
    height: 27px;
}

