<div class="container-fluid">
    <div class="barra-iniciar-sesion d-block d-sm-none row">
        <div class="col"><button>Iniciar Sesión</button></div>
        <hr>
    </div>
    <div class="barra-superior row justify-content-between">
        <div class="barra-superior-izquierda col-12 col-md-6">
            <img src="./assets/logo-recortado.png" alt="logo" id="logo">
            <h3><span class="align-bottom" id="titulo">#YoProgramo</span></h3>
        </div>
        <div class="barra-superior-derecha d-none d-sm-flex col-md-6">
            <a href="https://twitter.com/tomydominguez30">
                <img src="./assets/twitter.png" alt="logo de twitter" class="logo-redes-sociales"> 
            </a>
            <a href="https://instagram.com/tomydominguezz">
                <img src="./assets/Instagram.png" alt="logo de instagram" class="logo-redes-sociales">
            </a>
            <a href="https://github.com/TomyD30">
                <img src="./assets/github.png" alt="logo de github" class="logo-redes-sociales">
            </a>
            <button>Iniciar Sesión</button>
        </div>
    </div>

    <hr>

</div>