/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
}

.container{
    margin: 5px auto;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}